*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #222;
}

.card{
    background: #efefef;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    position: relative;
}

.card h1{
    text-align: center;
    margin-bottom: 30px;
}

.card button{
    position: absolute;
    top: 50%;
    right: 10px;
    color: #48e;
    font-size: 1.5em;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.acordion{
    text-align: center;
}

.oculto{
    display: none;
}

.visible{
    display: block;
}
