@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    background: yellow;
    min-height: 80px;
    width: 100%;
    top: 0;

  }

  nav ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  ul{
    margin: 0;
    list-style: none;
  }
  
  nav ul li > a {
    color: red;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .contenedor {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px; 
    padding: 20px 0px 20px 0px;
  }
  
  .card {
    width: 200px;
    height: 270px;
    border: 1px solid gray;
    border-radius: 3%;
    padding: 20px;
  }
  
  .card > img {
    width: 200px;
  }