*{
    padding: 0;
    margin: 0;
}

.contenedor {
    background-color: #666;
	display: flex;
    width: 100%;
    height: 100vh;
}


.col1{
    background-color: #f54;
    width: 30%;
}

.col2{
    background-color: #48e;
    width: 70%;
}