*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background: #222;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 400px;
    display: flex;
    flex-direction: column;
    background: #fefefe;
    border-radius: 10px;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1{
    margin-bottom: 30px;
    text-align: center;
}

input, textarea{
    padding: 5px;
}



.btn-enviar{
    background: rgb(18, 96, 212);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    border: 0;
    color: #fff;
}